*.aux
*.log
*.rar
*.zip
*.synctex.gz
Lectures/Week05/BT5
Lectures/Week05/BT5-5.3-22120049
Lectures/Week05/BT5-5.4-22120049
Lectures/Week05/BT5-5.5-22120049
Lectures/Week05/BT5-5.6-22120049
Lectures/Week05/BT5-5.7-22120049
Lectures/Week05/BT5-5.8-22120049
Lectures/Week05/BT5-5.9-22120049
Lectures/Week05/BT5-5.10-22120049
Lectures/Week06/BT6
Lectures/Week07/*
!Lectures/Week07/BT7-22120049/
Lectures/Week08/*
!Lectures/Week08/BT8-22120049/
Lectures/Week09/.vs/BT9
Lectures/Week09/x64/Debug
Lectures/Week09/BT9.sln
Lectures/Week09/BT9.1/x64/Debug
Lectures/Week09/BT9.2/x64/Debug
Lectures/Week09/BT9.3/x64/Debug
Lectures/Week09/BT9.4/x64/Debug
Lectures/Week09/BT94/x64/Debug
Lectures/Week09/BT9.1/BT9.1.vcxproj
Lectures/Week09/BT9.1/BT9.1.vcxproj.filters
Lectures/Week09/BT9.1/BT9.1.vcxproj.user
Lectures/Week09/BT9.2/BT9.2.vcxproj
Lectures/Week09/BT9.2/BT9.2.vcxproj.filters
Lectures/Week09/BT9.2/BT9.2.vcxproj.user
Lectures/Week09/BT9.3/BT9.3.vcxproj
Lectures/Week09/BT9.3/BT9.3.vcxproj.filters
Lectures/Week09/BT9.3/BT9.3.vcxproj.user
Lectures/Week09/BT9.4/BT9.4.vcxproj
Lectures/Week09/BT9.4/BT9.4.vcxproj.filters
Lectures/Week09/BT9.4/BT9.4.vcxproj.user
Lectures/Week09/BT94/BT94.vcxproj
Lectures/Week09/BT94/BT94.vcxproj.filters
Lectures/Week09/BT94/BT94.vcxproj.user
Practice/Week01/.vs
Practice/Week01/x64
Practice/Week01/HDTH-Tuan01.pdf
Practice/Week02/.vs
Practice/Week02/x64
Practice/Week02/HW02.pdf
Practice/Week02/Tuan_2.sln
Practice/slides
Practice/Week01/22120049/*
!Practice/Week01/22120049/Source.c
Practice/Week02/22120049/*
!Practice/Week02/22120049/Source.c
Practice/Week07/ICPC/
Practice/Week07/samples-G/
Practice/Week08/*
!Practice/Week08/22120049.cpp
Lectures/GiaiDeCK16-17/*
!Lectures/GiaiDeCK16-17/Source.cpp
!Lectures/GiaiDeCK16-17/output.txt
Lectures/GiaiDeCKDKLCHDot1/*
!Lectures/GiaiDeCKDKLCHDot1/Cau_1_2.cpp
!Lectures/GiaiDeCKDKLCHDot1/Cau_3_4.cpp
!Lectures/GiaiDeCKDKLCHDot1/data.txt
Lectures/GiaiDeCKDKLCHDot2/*
!Lectures/GiaiDeCKDKLCHDot2/Source.cpp
!Lectures/GiaiDeCKDKLCHDot2/OUTPUT.TXT
!Lectures/GiaiDeCKDKLCHDot2/DATA.TXT